.textfield {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
.backgroundGradient {
  background: -webkit-linear-gradient(#E8E8E8 , #C0C0C0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E8E8E8 , #C0C0C0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E8E8E8 , #C0C0C0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E8E8E8 , #C0C0C0); /* Standard syntax */
}
.block {
	padding: 10px;
	border-style: solid;
	border-width: thin;
	border-color: #C0C0C0;
}
.removeJob {
	padding-left: 10px;
	padding-right: 10px;
}
.jobStartButton {
	padding-left: 10px;
	padding-right: 10px;
}
.jobProgress {
	width: 200px;
}
.ui-progressbar {
	position: absolute;
}
.progress-label {
	position: absolute;
	left: 30%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.resultLinkMeasure {
	padding: 10px;
}
.removeResultLink {
	padding: 10px;
}
